@model JungleBook.Models.ViewModels.TripViewModel

@{
    ViewData["Title"] = "CreateTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateTrip</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTrip">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Trip.TripId" />
            <div class="form-group">
                <label asp-for="Trip.Name" class="control-label"></label>
                <input asp-for="Trip.Name" class="form-control" />
                <span asp-validation-for="Trip.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.EstimatedCost" class="control-label">Estimated Cost</label>
                <input asp-for="Trip.EstimatedCost" class="form-control" />
                <span asp-validation-for="Trip.EstimatedCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.StartDate" class="control-label">Start Date</label>
                <input asp-for="Trip.StartDate" class="form-control" />
                <span asp-validation-for="Trip.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.EndDate" class="control-label">End Date</label>
                <input asp-for="Trip.EndDate" class="form-control" />
                <span asp-validation-for="Trip.EndDate" class="text-danger"></span>
            </div>
            <div>

            </div>
            <div class="form-group">
                @using (Html.BeginForm(Model.SelectedDestinations))
                {
                    @Html.ListBoxFor(m => m.SelectedDestinations, Model.DestinationOptions, Model.SelectedDestinations)
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

