@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
<h1 id="h1Text">Dashboard</h1>

@using (Html.BeginForm("AddInvitedTraveler", "Travelers", FormMethod.Post))
{
    <div class="col-4" id="invitationElements">
        <div class="input-group">
            <div class="card-group">
                <div class="card-body">
                    <h5 class="card-title">Enter part one of the super secret code</h5>
                    <input class="" type="text" name="userName" />
                </div>

                <div class="card-body">
                    <h5 class="card-title">Enter part two of the super secret code</h5>
                    <input class="" type="text" name="tripName" />
                </div>
            </div>
            <input class="btn-block" type="submit" value="Submit" />
        </div>
    </div>

}
</div>

