@model JungleBook.Models.ViewModels.TripViewModel

@{
    ViewData["Title"] = "PlanTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PlanTrip</h1>

<div>
    <h4>Plan Your Trip!</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div id="PlanTripButtons" class="col-auto">
    <p>
        <button class="btn btn-primary" data-toggle="collapse" data-target=".multi-collapse" role="button" aria-expanded="false" aria-controls="EmailWindow SearchEvents SelectInterests">Open All Tabs</button>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#SelectInterests" role="button" aria-expanded="false" aria-controls="SelectInterests">Select Some Interests</button>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#SearchEvents" role="button" aria-expanded="false" aria-controls="SearchEvents">Look Up Events</button>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#EmailWindow" role="button" aria-expanded="false" aria-controls="EmailWindow">Invite Others To Your Trip!</button>
    </p>
</div>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="SelectInterests">
            <div class="card card-body" id="interestsPartial">
                @await Html.PartialAsync("~/Views/Travelers/_SelectInterests.cshtml", Model)
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="SearchEvents">
            <div class="card card-body" id="eventsPartial">
                @await Html.PartialAsync("~/Views/Travelers/_ShowEvents.cshtml", Model)
            </div>
        </div>
    </div>

    <div class="col">
        <div class="multi-collapse collapse" id="EmailWindow">
            <div class="card card-body" id="emailPartial">
                @await Html.PartialAsync("~/Views/Travelers/_TripInvitationPartial.cshtml", Model)
            </div>
        </div>
    </div>
</div>


