@model JungleBook.Models.ViewModels.TripViewModel

@{
    ViewData["Title"] = "PlanTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PlanTrip</h1>

<div>
    <h4>TripViewModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div id="eventsList">
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
